<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>유저 목록</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>유저 목록</h1>

    <table border="1">
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>학교</th>
                <th>이메일</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <!-- 이름 클릭 시 해당 사용자의 프로필 보기 페이지로 이동 -->
                    <a href="{{ url_for('view_user_profile', user_id=user.id) }}">{{ user.name }}</a>
                </td>
                <td>{{ user.school }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="/index"><button>뒤로</button></a>
</body>
</html>
