<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/read.js') }}"></script>
    <title>게시판</title>
</head>
<body>
    <h1>게시판 목록</h1>
    <h2>사용자: {{ username }}</h2>
    <button id="logoutButton">로그아웃</button><br>

    <!-- 검색 폼 -->
    <form method="GET" action="/search" id="searchForm">
        <select name="search_option" id="searchOption">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="all">전체</option> <!-- 전체 검색 옵션 추가 -->
        </select>
        <input type="text" name="search_query" id="searchQuery" placeholder="검색어를 입력하세요">
        <button type="submit">검색</button>
    </form>

    <script>
        document.querySelector("#searchForm").addEventListener("submit", function(event) {
            const searchOption = document.querySelector("#searchOption").value;
            const searchQuery = document.querySelector("#searchQuery").value;

            // '전체' 옵션이 선택되고 검색어가 비어 있을 경우 경고 메시지 없이 전체 게시글을 출력
            if (searchOption === "all" && searchQuery.trim() === "") {
                return true; 
            }
        });
    </script>

    <!-- 글 게시 성공 메시지 표시 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for post in board_list %}
            <tr>
                <td>{{ post['idx'] }}</td>
                <td>{{ post['writer'] }}</td>
                <td>
                    <a href="#" class="read-link" data-id="{{ post['idx'] }}">{{ post['title'] }}</a>
                </td>
                <td>{{ post['w_time'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="/write"><button>글 작성</button></a>

</body>
</html>
