/* 페이지 전체 스타일 */
body {
    font-family: 'Arial', sans-serif; /*글꼴 설정*/
    background-color: #f0f0f0; /*배경색 설정*/
    color: #333; /*글자색 설정*/
    /*화면 중앙 정렬 설정*/
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /*세로 중앙 설정*/
    height: 100vh; /*높이 조절 설정*/
    margin: 0; /*마진 제거 설정*/
}

/* 컨테이너 설정 */
.container {
    background-color: white; /*배경색 설정*/
    padding: 20px; /*내부 여백 설정*/
    border: 1px solid #ddd; /*테두리 색상 설정 및 1px 두께 적용*/
    border-radius: 5px; /*테두리 둥글게 설정*/
    width: 100%; /*컨테이너가 부모 요소의 전체 너비 차지*/
    max-width: 350px; /*최대 너비 350px 제한*/
}

/* 제목 스타일 */
h1 {
    text-align: center; /*제목 가운데 정렬*/
    color: #333; /*글자색*/
    font-size: 22px;/*글자 크기*/
    margin-bottom: 20px; /*아래쪽 여백*/
}

/* 폼 요소 */
form {
    display: flex; /*폼 내부 요소들 세로 방향 배치*/
    flex-direction: column; /*flexbox의 기본 방향을 세로로 설정*/
}

/* 레이블 스타일 */
label {
    font-size: 14px; /*글자 크기*/
    margin-bottom: 5px; /*아래쪽 여백*/
}

/* 입력창 스타일 */
input {
    padding: 8px; /*입력창 안의 텍스트와 경계 사이 여백 간격*/
    margin-bottom: 12px;/*아래쪽 여백 간격*/
    border: 1px solid #ccc; /*입력창 테두리색 설정 및 두께 적용*/
    border-radius: 4px; /*테두리 모서리 둥글게 설정*/
    font-size: 16px; /*글자 크기*/
    width: 100%; /*입력창 너비 설정*/
}

/* 버튼 스타일 */
button {
    background-color: #4CAF50; /*버튼 배경색 설정*/
    color: white; /*버튼 텍스트 색 설정*/
    padding: 10px; /*버튼 내부 여백 설정*/
    border: none; /*버튼 테두리 제거*/
    border-radius: 4px; /*버튼 모서리 둥글게*/
    font-size: 16px;/*버튼 텍스트 크기 설정*/
    cursor: pointer; /*커서를 가져다 대면 손 모양으로 변함*/
}