<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/write.css">
    <script src="/static/js/secret.js"></script>
    <script src="/static/js/write.js"></script>
    <title>글쓰기</title>
</head>
<body>
    <div class="container">
        <h1>새 게시글 작성</h1>

        <form action="/write" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
            <table class="write-table">
                <tr>
                    <th><label for="writer">작성자</label></th>
                    <td>
                        <input type="text" id="writer_name" name="writer_name" value="{{ name }}" readonly>
                        <input type="hidden" name="writer" value="{{ username }}">
                        <!-- name: 표시용 / username: DB 저장용 -->
                    </td>
                </tr>
                <tr>
                    <th><label for="title">제목</label></th>
                    <td><input type="text" id="title" name="title" required></td>
                </tr>
                <tr>
                    <th><label for="file">파일 첨부<br>(하나만 가능)</label></th>
                    <td><input type="file" id="file" name="file"></td>
                </tr>
                <tr class="content-row">
                    <th><label for="content">내용</label></th>
                    <td><textarea id="content" name="content" required></textarea></td>
                </tr>
                <tr>
                    <th><label for="is_secret">비밀글</label></th>
                    <td>
                        <input type="checkbox" id="is_secret" name="is_secret">
                        <input type="password" id="secret_pw" name="secret_pw" placeholder="입력 (숫자 4자리)" style="display: none;">
                    </td>
                </tr>
            </table>

            <div class="write-buttons">
                <button type="submit">게시글 작성</button>
                <button type="button" id="backButton">뒤로</button>
            </div>
        </form>
    </div>
</body>
</html>
